*{
    margin: 0;
    padding: 0;

    --primary: #42C1D1;
    --text: #061619;
    --text-light: #384547;
    --bg: #EFFAFB;
    --secondary: #95A6E5;
    --accent: #665FD8;

    --col: calc(100vw / 12);
    --round: 5px;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--text);
}

body{
    background-color: var(--bg);
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: calc(var(--col) * 10);
    margin: 0 auto;
}

.wrap{
    display: flex;
    flex-direction: row;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
    background-color: var(--bg);
    border-radius: var(--round);
    border: none;
    padding: 10px;
    box-sizing: border-box;
    height: 30px;
}

nav .logo{
    color: var(--primary);
    font-size: 32px;
}

nav{
    background: var(--bg);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    user-select: none;
}

nav > .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cart-btn{
    display: flex;
    align-items: center;
    font-size: 22px;
}

.cart-icon{
    width: 30px;
    height: 30px;
    background-image: url(img/cart.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.cards{
    width: calc(8 * var(--col));
    display: flex;
    flex-wrap: wrap;
}



.card{
    background-color: var(--bg);
    width: calc(4 * var(--col));
    border-bottom: var(--secondary) 1px solid;
    border-radius: var(--round);

    display: flex;
    max-height: calc(2 * var(--col));;
    max-width: calc(50% - 20px);
    margin: 10px;
}

.card > img{
    object-fit: contain;
    width: 50%;
    padding: 10px;
}

.card-info{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.price-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.price-old{
    text-decoration: line-through;
    font-weight: 600;
    
}
.price-discount{
    color: #665FD8;
    font-size: 24px;
    font-weight: 600;
}

.add-cart, .apply-btn{
    border-radius: var(--round);
    background-color: var(--primary);
    padding: 7px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word
}

.reset-btn{
    border-radius: var(--round);
    padding: 7px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word
}


.filters{
    max-width: calc(2 * var(--col) - 20px);
    padding: 10px;
    border-radius: var(--round);
    background: #EAEDFA;
}

.filters > .title-heading{
    font-size: 18px;
    font-weight: 700;
}

.filters > div {
    margin-top: 30px;
}

.filter > div{
    margin-top: 10px;
}

.filter-num{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.filter-num input[type='number']{
    max-width: calc(var(--col) - 20px);
    width: 100%;
}
.filter-num .filter-separator{
    width: 20px;
    object-fit: contain;
}

.filter-title{
    color: var(--text-light);
}