*{
    margin: 0;
    padding: 0;

    /* --primary: #42C1D1;
    --text: #061619;
    --text-light: #384547;
    --bg: #EFFAFB;
    --secondary: #95A6E5;
    --accent: #665FD8; */

    --primary: #652026;
    --dark-primary: #4d181c;
    --text: #1a0a0c;
    --text-light: #47383a;
    /* --bg: #fbf4f4; */
    --bg: #ffffff;
    --bg2: #fbf4f4;
    --white: #ffffff;
    --secondary: #dd8890;
    --accent: #cb3441;

    --col: calc(100vw / 12);
    --round: 5px;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--text);
}

body{
    background-color: var(--bg);
}

a{
    text-decoration: none;
    cursor: pointer;
}

.container{
    width: 100%;
    max-width: calc(var(--col) * 10);
    margin: 0 auto;
}

.hide{
    display: none;
}

.iconSvg rect{
    fill: var(--text);
}

.iconSvg{
    max-height: 16px;
    max-width: 16px;
}

.wrap{
    display: flex;
    flex-direction: row;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
    background-color: var(--bg);
    border-radius: var(--round);
    border: none;
    padding: 10px;
    box-sizing: border-box;
    height: 30px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: var(--accent);
    background-color: var(--accent);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

nav .logo{
    color: var(--primary);
    font-size: 32px;
}

nav{
    background: var(--bg);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    user-select: none;
}

.sortings{
    display: flex;
    font-size: 14px;
    /* width: calc(8 * var(--col)); */
}
.sortings a{
    padding: 10px;
    display: flex;
    align-items: center;
    user-select: none;
}
.sortings a *{
    padding: 4px;
}

.sorting-selected{
    color: var(--accent);
    font-weight: 600;
}

nav > .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.cart-btn{
    display: flex;
    align-items: center;
    font-size: 22px;
}

.cart-icon{
    width: 30px;
    height: 30px;
    background-image: url(img/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.deleteBtn{
    width: 1em;
    height: 1em;
    background-image: url(img/delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.cards{
    width: calc(8 * var(--col));
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card{
    background-color: var(--white);
    width: calc(4 * var(--col));
    border-radius: var(--round);
    display: flex;
    justify-content: space-between;
    max-height: calc(4 * var(--col));
    min-height: 370px;
    max-width: calc(25% - 20px);
    margin: 10px;
    flex-direction: column;
}
.card:hover{
    box-shadow: rgb(223, 223, 225) 0px 5px 25px;
}

.card > img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    max-width: calc(100% - 20px);
    max-height: 200px;
    padding: 10px;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

.price-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 48px;
}

.price-old{
    text-decoration: line-through;
    font-weight: 600;
    
}
.price-discount{
    color: var(--accent);
    font-size: 24px;
    font-weight: 600;
}

.add-cart, .apply-btn{
    border-radius: var(--round);
    background-color: var(--primary);
    padding: 7px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word
}

.add-cart:hover, .apply-btn:hover{
    background-color: var(--dark-primary);
}

.reset-btn{
    border-radius: var(--round);
    padding: 7px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    word-wrap: break-word
}


.filters{
    max-width: calc(2 * var(--col) - 20px);
    padding: 10px;
    border-radius: var(--round);
    background: var(--bg2);
}

.filters > .title-heading{
    font-size: 18px;
    font-weight: 700;
}

.filters > div {
    margin-top: 30px;
}

.filter > div{
    margin-top: 10px;
}

.filter-num{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.filter-num input[type='number']{
    max-width: calc(var(--col) - 20px);
    width: 100%;
}
.filter-num .filter-separator{
    width: 20px;
    object-fit: contain;
}

.filter-title{
    color: var(--text-light);
}


/* МОДАЛЬНОЕ ОКНО */
body {
    overflow-x: hidden;
}

.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    top: 0px;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
    overflow-y: scroll;
}

.modalActive {
    position: absolute;
    /* width: calc(4 * var(--col) + 20px); */
    /* height: fit-content; */
    top: 80px;
    margin-bottom: 80px;
    /* left: calc(50% - 175px); */
    border-radius: var(--round);
    background-color: var(--bg);
    cursor: default;
    /* padding: 40px 20px; */
}

.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
}


.modalWindow {
    position: relative;
    display: flex;
    overflow-x: hidden;
    min-height: calc(100vh - 80px);
}

.modalCard {
    max-width: 100%!important;
}

.cartElemInfo{
    display: flex;
    justify-content: space-between;
}
.cartElemInfo div{
    width: 20%;
    text-align: center;
    padding: 3px;
    border-radius: var(--round);
}

.cartElemInfo div:not(:nth-child(2)){
    background-color: var(--primary);
    color: var(--bg);
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.cartCards{
    display: flex;
    width: calc(8 * var(--col));
    flex-wrap: wrap;
    align-content: flex-start;
}
.cartCards > .card {
    width: calc(100% - 20px);
    max-width: 100%;
    flex-direction: row;
    min-height: auto;
}
.cartCards > .card > img {
    max-width: 25%;
    width: 25%;
}

.cartCards > .card > .card-info {
    max-height: 220px;
    flex-direction: row;
    width: 100%;
}

.cartCards > .card > .card-info > .title {
    width: 50%;
    font-size: 1.3em;
}

.cartCardInfo{
    width: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    align-items: flex-start;
}

.cartCardInfo > .cartElemInfo{
    display: flex;
    justify-content: space-between;
    width: var(--col);
    align-items: flex-start;
}

.cartCardInfo > .price-wrap {
    align-items: flex-start;
    justify-content: unset;
}

.cartCardInfo > .deleteBtn{
    align-items: flex-start;
}

.orderInfoContainer{
    margin: 10px;
    width: var(--col);
}
.orderInfo{
    padding: 10px;
}

.orderSum {
    font-size: 1.3em;
}